name: Release

on:
  push:
    tags:
      - "v*"

env:
  python_version: "3.10"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-pypi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python runtime
        uses: actions/setup-python@v4
        with:
          python-version: "${{ env.python_version }}"
          cache: "poetry"

      - name: Install Dependencies
        run: |
          poetry --version
          poetry install

      - name: Build
        run: |
          poetry build

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
