# yaml-language-server: $schema=https://json-schema.org/draft-07/schema#
name: Test

on:
  push:
    branches:
      - master
    paths:
      - "poetry.lock"
      - "pyproject.toml"
      - "p2d/**"
      - "test/**"
      - ".github/workflows/**"
  pull_request:
    types: [ opened, synchronize, reopened, ready_for_review ]
    paths:
      - "poetry.lock"
      - "pyproject.toml"
      - "p2d/**"
      - "test/**"
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python ${{ matrix.python-version }} runtime
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install Dependencies
        run: |
          poetry --version
          poetry install

      - name: Lint
        run: |
          poetry run autopep8 --recursive --diff --exit-code ./

      - name: Build
        run: |
          poetry build

      - name: Unit Test
        run: |
          poetry run pytest -v
