# yaml-language-server: $schema=https://json-schema.org/draft-07/schema#
name: Test

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  python_version: "3.10"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python runtime
        uses: actions/setup-python@v4
        with:
          python-version: "${{ env.python_version }}"

      - uses: Gr1N/setup-poetry@v8

      - name: Install Dependencies
        run: |
          cd p2d
          poetry --version
          poetry install

      - name: Lint
        run: |
          cd p2d
          autopep8 --recursive --diff --exit-code ./

      - name: Build
        run: |
          cd p2d
          poetry build

      - name: Unit Test
        run: |
          cd p2d
          poetry run pytest
