# yaml-language-server: $schema=https://json-schema.org/draft-07/schema#
name: Test

on:
  push:
    branches:
      - master
    paths:
      - "uv.lock"
      - "pyproject.toml"
      - "p2d/**"
      - "test/**"
      - ".github/workflows/**"
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - "uv.lock"
      - "pyproject.toml"
      - "p2d/**"
      - "test/**"
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install the project
        run: |
          uv sync --all-extras --dev

      - name: Register Pytest problem matcher
        run: echo "::add-matcher::${{ github.workspace }}/.github/problem-matchers/pytest.json"

      - name: Ruff format
        run: uv run ruff format --diff .

      - name: Lint
        run: |
          uv run ruff check --output-format=github .

      - name: Unit Test
        run: |
          uv run --frozen pytest
